<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBRR8E5EiXVKFXWl5PCmihVgHPpQzjv3dI</string>
	<key>GCM_SENDER_ID</key>
	<string>1047550427679</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.collecteRevendeurs</string>
	<key>PROJECT_ID</key>
	<string>collecte-9b6e1</string>
	<key>STORAGE_BUCKET</key>
	<string>collecte-9b6e1.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1047550427679:ios:406eb5a7b61c7ab82ecb2a</string>
</dict>
</plist>